@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DotGothic16&family=Press+Start+2P&display=swap");
@import "tailwindcss";

body {
  background-color: #3b3445;
  font-family: "DotGothic16", "Press Start 2P";
  color: #e6e6e6;
}
